<!DOCTYPE html>
<html>
<head>
    <title>LinkedIn Scraper</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>LinkedIn Profile Scraper</h1>

        <form id="scrapeForm" action="/scrape" method="POST">
            <label for="linkedin_url">LinkedIn URL:</label>
            <input type="text" id="linkedin_url" name="linkedin_url" required>
            <button type="submit">Scrape</button>
        </form>

        <div id="message"></div>

        <div id="loader" style="display: none;">
            <div class="spinner"></div>
        </div>

        <div id="result" style="display: none;">
            <button id="backButton" onclick="goBack()">Back</button>
        </div>

        <script src="validate.js"></script>
        <script>
            function goBack() {
                document.getElementById('result').style.display = 'none';
                document.getElementById('scrapeForm').style.display = 'block';
            }

            document.getElementById('scrapeForm').addEventListener('submit', function(event) {
                const linkedinUrl = document.getElementById('linkedin_url').value.trim();
                
                const linkedinRegex = /^https:\/\/[a-z]{2,3}\.linkedin\.com\/.*$/;

                if (!linkedinRegex.test(linkedinUrl)) {
                    event.preventDefault();
                    document.getElementById('message').textContent = 'Invalid LinkedIn URL format.';
                } else {
                    document.getElementById('message').textContent = ''; // Clear error message if URL is valid
                    document.getElementById('loader').style.display = 'block';
                    document.getElementById('scrapeForm').style.display = 'none'; // Hide the form
                }
            });
        </script>
    </div>
</body>
</html>
